{% extends "base.html" %}


{% block content %}
<a href="{% url 'create_meal_plans' %}">create a new plan</a>

{% for shoe in mealplan_list %}
<div>
  <h2>
    <a href="{% url 'recipe_detail' shoe.pk %}">{{ shoe.name }}</a>
  </h2>
</div>
{% endfor %}




{% endblock content %}

<!-- The name of each meal plan should be a link to its detail view. This is similar to the list view for recipes, where the name of each recipe is a link to the recipe's detail page. -->